/* general settings */
@font-face {
  font-family: "AvenirNextCondensed";
  src: url("../fonts/AvenirNextLTPro-Cn.otf") format("opentype");
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
body {
  font-family: AvenirNextCondensed, "Arial Narrow", sans-serif, Arial, Helvetica;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
}

/* helper classes */
.hidden {
  display: none; }
.inline-block {
  display: inline-block; }
.right {
  text-align: right; }
.center {
  text-align: center; 
  margin: 0 auto; }
.nowrap {
  white-space: nowrap; }

/* bullet chart (power ratio) formatting */
.bullet { font: 10px; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick { font-size: 10px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: rgb(68, 68, 68); font-size: 10px; }

/* NProgress bar */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  -webkit-pointer-events: none; }
  #nprogress .bar {
    background: #29d;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px; }

  /* Fancy blur effect */
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px); }

/* debug classes */
/*    div {
  border: 1px dashed red!important;
}
h1, h2 {
  border: 1px solid green!important;
}*/

/* special objects */
#weather-icon {
  display: block;
  float: left;
  margin: 0 10px 20px 0;
}
#chart {
  margin-bottom: 10px;
  max-width: 300px;
  height: 200px;
  overflow: hidden;
}
#perf {
  display: none;
  width: 300px;
  height: 40px;
}

/* page formatting */
.row {
  width: 100%;
  margin: 0px auto;
  max-width: 300px; }
  /* hide numbers until data available */
  .row.nowrap {
    display: none;
  }

.w-300, .w-150, .w-100 {
  overflow: visible; 
  display: inline-block; }
  .w-300 {
    width: 300px !important; }
  .w-150 {
    width: 150px !important; }
  .w-100 {
    width: 100px !important; }

/* styles */
h1, h2 {
  font-family: AvenirNextCondensed, "Arial Narrow", Arial, Helvetica;
  font-stretch: condensed;
}
h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 38.25px;
  margin: 0;
  line-height: 1em; 
  direction: rtl; /* overflow to left */
}
h2 {
  margin: 3px 0 3px 0;
  color: #444; 
}
h2, .unit {
  font-size: 22px;
  font-weight: normal; 
  font-stretch: condensed;
}
.largeValue {
  display: block;
  vertical-align: top;
  font-size: 72px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 72px;
}